{% extends "base_template.html" %}

{% block title_content %}Shipwrecked on a Topical Island{% endblock %}

{% block body_content %}
<h1>Shipwrecked on a Topical Island</h1>
    <ul>
        <!-- TODO: use references to other topicalisland sites; so you can test in localhost.-->
        <li><a href="https://github.com/urban-burgeoning/topical-island">Github for Topical Island</a></li>
        <li><a href="https://www.topicalisland.net/setup">Starting a Website for People Who Don't Know How</a></li>
        <li><a href="https://www.topicalisland.net/css">CSS for Brutes</a></li>
    </ul>
{% endblock %}
