<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topical Island</title>
    <style type="text/css">
        body {
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color:#444;
            padding:0 10px
            }
        h1,h2,h3
            {
            line-height:1.2
            }
        code {
              background-color: #eee;
              border: 1px solid #999;
              display: block;
              font-family: Consolas,"courier new";
              padding: 20px;
            }

    </style>
</head>
<body>
<h1>Shipwrecked on a Topical Island</h1>
    <ul>
        <li><a href="https://github.com/urban-burgeoning/topical-island">Github for Topical Island</a></li>
        <li><a href="https://www.topicalisland.net/setup">Starting a Website for People Who Don't Know How</a></li>
        <li><a href="https://www.topicalisland.net/css">CSS for Brutes</a></li>

    </ul>
</body>
</html>